<h1>My Books App</h1>

<h3><%= link_to "View All Books", books_path %> </h3>
<h3><%= link_to "Create A Book", new_book_path %> </h3>

<h3><%= link_to "View All Authors", authors_path %> </h3>

<h3><%= link_to "Create An Author", new_author_path %></h3> 
