// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.checkboxes {
  display: inline-flex;
}

 td img {
  width: 200px;
  height: 200px;
  background-size: cover;
}



.show-book-img img {
    width: 200px;
  height: 200px;
  background-size: cover;
}