// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hero{
  width: 100vw;
  height: 80vh;
  background-image: url(image-path("books.jpg"));
  background-size: cover;
}

